body {
  color: #767676;
  min-width: 320px;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  @media (max-width: 640px) {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
  color: #767676;
  cursor: pointer;
}
